
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="container mt-5 pl-5">
                <h2 class="text-center">signup</h2>
                <form action="/api/signup" method="post" id="signup">
                     <div class="form-group">
                       <label for="name">Name</label>
                       <input type="text" name="name" class="form-control " id="name" placeholder="name">
                   </div>
                   <div class="form-group">
                       <label for="email">Email</label>
                       <input type="email" name="email" class="form-control" id="email" placeholder="email">
                   </div>
                   <div class="form-group">
                       <label for="password">password</label>
                       <input type="password" class="form-control" name="password" id="password" placeholder="password">
                   </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mt-3 float-end">Submit</button>
                    </div>
                    <br>
                    <a href="/signup" class="mt-3">Already have account ?</a>
                  </form>
            </div>
        </div>
    </div>
